{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "arrowParens": "avoid",
    "singleQuote": true,
    "bracketSpacing": true,
    "useTabs": true,
    "printWidth": 100,
    "jsxBracketSameLine": true
}